ion-view.assistance(view-title="Asistencia")  
  ion-tabs.tabs-top.tabs-balanced
      // Asistencias Tab
      ion-tab(title='Asistencias')
        ion-view(view-title='assist')
          ion-content
            ion-list
              ion-item.item-avatar.item-icon-right(ng-repeat="user in assist")
                img(src="{{user.photo}}")
                h2 {{user.firstName}}
                p {{user.nickName}}
              p.text-empty(ng-if="assist.length==0") No hay asistentes para este partido
      // Ausencias Tab
      ion-tab(title='Ausencias')
        ion-view(view-title='not_assist')
          ion-content
            ion-list
              ion-item.item-avatar.item-icon-right(ng-repeat="user in notAssisting")
                img(src="{{user.photo}}")
                h2 {{user.firstName}}
                p {{user.nickName}}
              p.text-empty(ng-if="notAssisting.length==0") No hay ausencias para este partido
      // No confirmados Tab
      ion-tab(title='No confirmados')
        ion-view(view-title='not_confirmed')
          ion-content
            ion-list
              ion-item.item-avatar.item-icon-right(ng-repeat="user in unknown")
                img(src="{{user.photo}}")
                h2 {{user.firstName}}
                p {{user.nickName}}
              p.text-empty(ng-if="unknown.length==0") Todos han respondido
  .bar.bar-footer
    button.button.button-positive.adjust-btn-footer(ng-click="confirmAssistance()" ng-if="annotedAssistance<1" ng-disabled="annotedAssistance<0") Confirmar Asistencia
    button.button.button-positive.adjust-btn-footer(ng-click="addInvited()"  ng-if="annotedAssistance==1") Añadir invitado
