ion-view.matching(view-title="Selección de equipos")
  .pr-dialog(ng-if="!myTurn")
    .panel-dialog
      circle-spinner
      p Capitán eligiendo
  .bar.bar-header
    .left-team
      img(src="img/icon-tshirt-g.png")
      p Equipo Verde
    .right-team
      img(src="img/icon-tshirt-b.png")
      p Equipo Negro
  ion-content
    .list
      .item.item-divider Porteros
      .item.item-shadow
        list-cards(group="goalKeepers" listener="updatePosition")
      .item.item-divider Defensas
      .item.item-shadow
        list-cards(group="defenses" listener="updatePosition")
      .item.item-divider Medios
      .item.item-shadow
        list-cards(group="midfield" listener="updatePosition")
      .item.item-divider Delanteros
      .item.item-shadow
        list-cards(group="forward" listener="updatePosition")
