ion-view.matching(view-title="Selección de equipos")
  .bar.bar-header
    .left-team
      img(src="img/icon-tshirt-g.png")
      p Equipo Verde
    .right-team
      img(src="img/icon-tshirt-b.png")
      p Equipo Negro
  ion-content
    .list
      .item.item-divider Porteros
      .item.item-shadow
        list-cards
      .item.item-divider Defensas
      .item.item-shadow
        list-cards
      .item.item-divider Medios
      .item.item-shadow
        list-cards
      .item.item-divider Delanteros
      .item.item-shadow
        list-cards
