ion-view.matching(view-title="Equipos")
  .bar.bar-header
    .left-team
      img(src="img/icon-tshirt-g.png")
      p Equipo Verde
    .right-team
      img(src="img/icon-tshirt-b.png")
      p Equipo Negro
  ion-content
